doc/generated_abstract.txt
lasers_project/
**/__pycache__/
app/output/*.csv
app/output/*.png
app/output/*.jpg
*.tmp

pcb/History/
pcb/__Previews/
pcb/projector_board/History/
pcb/projector_board/Project Logs for projector_board

ip/*.xdc
ip/*.v
ip/*.dcp
ip/*.v
ip/*.vhdl
ip/*.xml
ip/*.vh
