doc/generated_abstract.txt

ethernet-working/
lasers_project/
ptc-project/

**/__pycache__/
app/output/*
*.tmp

pcb/History/
pcb/__Previews/
pcb/projector_board/History/
pcb/projector_board/Project Logs for projector_board

ip/**.xdc
ip/**.v
ip/**.dcp
ip/**.v
ip/**.sv
ip/**.vhdl
ip/**.xml
ip/**.vh
ip/**.mif
ip/**.veo
ip/**.vho
ip/**.log
ip/**.vhd
ip/**.txt
ip/hdl
ip/doc
ip/misc
ip/sim
ip/simulation
ip/synth

ip/blk_mem_gen_0/**.xdc
ip/blk_mem_gen_0/**.v
ip/blk_mem_gen_0/**.dcp
ip/blk_mem_gen_0/**.v
ip/blk_mem_gen_0/**.sv
ip/blk_mem_gen_0/**.vhdl
ip/blk_mem_gen_0/**.xml
ip/blk_mem_gen_0/**.vh
ip/blk_mem_gen_0/**.mif
ip/blk_mem_gen_0/**.veo
ip/blk_mem_gen_0/**.vho
ip/blk_mem_gen_0/**.log
ip/blk_mem_gen_0/**.vhd
ip/blk_mem_gen_0/**.txt
ip/blk_mem_gen_0/hdl
ip/blk_mem_gen_0/doc
ip/blk_mem_gen_0/misc
ip/blk_mem_gen_0/sim
ip/blk_mem_gen_0/simulation
ip/blk_mem_gen_0/synth

ip/eth_refclk_divider/**.xdc
ip/eth_refclk_divider/**.v
ip/eth_refclk_divider/**.dcp
ip/eth_refclk_divider/**.v
ip/eth_refclk_divider/**.sv
ip/eth_refclk_divider/**.vhdl
ip/eth_refclk_divider/**.xml
ip/eth_refclk_divider/**.vh
ip/eth_refclk_divider/**.mif
ip/eth_refclk_divider/**.veo
ip/eth_refclk_divider/**.vho
ip/eth_refclk_divider/**.log
ip/eth_refclk_divider/**.vhd
ip/eth_refclk_divider/**.txt
ip/eth_refclk_divider/hdl
ip/eth_refclk_divider/doc
ip/eth_refclk_divider/misc
ip/eth_refclk_divider/sim
ip/eth_refclk_divider/simulation
ip/eth_refclk_divider/synth

*.log
*.jou
