doc/generated_abstract.txt

ethernet-working/
lasers_project/
ptc-project/

**/__pycache__/
app/output/*
*.tmp

pcb/History/
pcb/__Previews/
pcb/projector_board/History/
pcb/projector_board/Project Logs for projector_board

ip/**.xdc
ip/**.v
ip/**.dcp
ip/**.v
ip/**.vhdl
ip/**.xml
ip/**.vh
ip/**.mif
ip/**.veo
ip/**.vho
ip/**.log
ip/**.vhd
ip/**.txt
ip/hdl
ip/doc
ip/misc
ip/sim
ip/simulation
ip/synth
*.log
*.jou
